.sms-alert-list {
    display: flex;
    justify-content: space-between;
}

.list-group-item-heading {
    font-weight: 500;
}

.list-group-item-text {
    font-weight: 400;
    color: red;
}

.nav-tabs {
    background: darkcyan;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.nav-item {
    font-size: larger;
    font-weight: bold;
}